.pagination{
  margin: 20px auto auto auto;
  width: fit-content;
   ul{
     display: flex;
     list-style: none;
   }
}
.form-group{
  display: flex;
  input{
    width: 240px;
    margin-right: 20px;
    padding: 0 10px;
  }
}
